body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0e0e10;
    font-family: "Roboto", sans-serif;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    position: relative;
    border: 2px solid #555;
    background-color: #2B272D;
}

#grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#555 1px, transparent 1px), linear-gradient(to right, #555 1px, transparent 1px);
    background-size: 60px 60px;
    pointer-events: none;
}

.block {
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.8;
}

.block.horizontal {
    padding: 10px 5px;
}

.block.vertical {
    padding: 5px 10px;
}

.block-child {
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Стандартный синтаксис */
}

.red {
    background-color: #3E2025;
}

.red .block-child {
    background-color: #D93334;
}

.green {
    background-color: #304C26;
}

.green .block-child {
    background-color: #77FB4F;
}

.key .block-child {
    background-color: #3E3A29;
}

.key {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
}

.exit {
    width: 60px;
    height: 60px;
    background-color: #2e53cc;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

#date-display {
    color: #2ecc71;
    padding-left: 10px;
}

.date-wraper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.caption {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 36px;
}

#caption-hamster {
    color: #f1c40f;

    font-weight: bold;
}

#caption-puzzle {
    color: #D93334;
}

.footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

#footer-social {
    display: flex;
}

#footer-social img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50px;
}

#footer-social a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
}
