*{
	margin: 0;
	padding: 0;
}
.main {
	background: #ffb400;
    height: 700px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#brick {
    width: 60px;
    height: 30px;
    background: #EE6B47;
    position: absolute;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

#path {
    outline: 1px solid #E8C48E;
    width: 660px;
    height: 40px;
    position: relative;
    background: #514949;
    margin-left: 60px;
    margin-top: 20px;
}
.pole{
    margin-top: 40px;
    width: 540px;
    height: 50px;
    font-size: 30px;
    border :2px solid #8278be;
    padding-left: 5px;
}
.about{
    margin-top: 40px;
    width: 540px;
    height: 150px;
    font-size: 30px;
    border :2px solid #8278be;
    padding-left: 5px;
}
.cenreg{
    margin-left: auto;
    margin-right: auto;
    width: 557px;
}
.need{
    color: red;
    font-size: 16px;
}