*{
	margin: 0;
	padding: 0;
}
.header{
    height:168px;
}
.sub{
	width: 192px;
	display: inline-block;
}
.headmus {
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
    margin-left: 35px;
    background-image: url(images/rows.png);
    height:99px;
    width:468px;
}
.im1{
	float: left;
	margin-top: 227px;
	margin-left: -3px;
	width: 246px;
	height:  86px;
}
.im2{
	float: left;
	margin-top: -313px;
	margin-left: 180px;
	width: 241px;
	height:  52px;
}
.key{
	float: right;
	margin-top: -316px;
	margin-left: 0px;
	width: 165px;
	height:  321px;
}
.music{
    font-size:62px;
    margin-top: -19px;
    margin-left: 40px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 5px;
    text-shadow: 0px 3px  3px #000;
 	-webkit-text-stroke: 0.5px #0048ff;
 	font-style: italic;
}
.studio{
	font-size:42px;
    margin-top: -6px;
    margin-left: 270px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 6px;
 	font-style: italic;
}
.main {
	background: #ffb400;
    background-image: url(images/background.jpg);
    height: 700px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.content {
    width: 780px;
    font-family: Arial Narrow;
    background: #c8ccf4;
    background-image: url(images/44.png);
    height: 312px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
    font-style: italic;
    display: block;
}
.menu a{
    color: #646fc9;
    text-decoration: none;
}
.b1 {
	width: 480px;
	height: 312px;
	float: left
}
.b2 {
	width: auto;
	height: 312px;
	float: left
}
.footer {
    color: #182484;
    text-align: right;
    margin-top:10px;
    margin-right: 14px;
    font-family: calibri;
}
.menu {
	color: #646fc9;
	font-size: 11px;
	margin-top: -268px;
	margin-left: 158px;
	display: block;
	float: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu span {
	display: block;
	padding-top: 20px;
}
.m4{
	padding-left: 18px;
}
.m3{
	padding-left: 32px;
}
.m2{
	padding-left: 40px;
}
.m1{
	padding-left: 46px;
}
