body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 15px;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4 ,h5 ,h6 ,h7{
    margin: 0;
}

.page {
    overflow: hidden;
}

input,textarea{
    outline: none;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background: #818181;
}

::-webkit-scrollbar-thumb {
    background: #333333;
}




/*Container*/

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/* Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 770px;
    box-shadow: 0 0 70px 0 rgba(0,0,0,1)!important;
}


/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 45px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    border: none;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    background: #FFB388;
    box-shadow: 0px 4px 25px rgba(91, 67, 160, 0.23);
    border-radius: 60px;
    padding: 15px 30px;
}

.header__logo {
    display: flex;
    align-items: center;
}

/* Nav */

.nav {
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}

.nav__item__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav__item__img img {
    width: 48px;
    height: 48px;
}

.nav__item {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-right: 85px;
    padding-left: 58px;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav__link {
    display:block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

/* Application */

.application {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: #fff;
    padding-right: 720px;
    font-family: 'Caveat', cursive;

}

.application__text {
    color: #f033ff;
    text-shadow: 0px 2px 3px #1e2ede;
}



/* Logo */

.header__logo {
    display: flex;
    align-items: center;
}

.logo__image {
    display: inline-block;
}

.logo__image:first-child {
    margin-right: 30px;
}

.application__header {
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 57px;
    color: #454545;
    padding-right: 140px;
    margin-top: 100px;
}



/* Section */

.section {
    text-align: center;
}

.section--left {
    text-align: left;

}

.section--right {
    text-align: right;
}

.section--about {

}

.section--presale {
    background: #222226;
}

.section--shop {
    background: #fafafa;
}



/* About */

.about {
    padding-bottom: 50px;
}

.about__g1,.about__g2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.about__g1.one {
    width: 100%;
    text-align: center;
    justify-content:center;
}

.about__g2 {
    margin-top: 30px;
}

.about__title {
    font-family: 'Caveat', cursive;
    font-style: normal;
    padding-top: 60px;
    font-weight: bold;
    font-size: 72px;
    line-height: 55px;
    color: #5B43A0;
}


.about__img {

}

.about__item {
    display: flex;
    width: 50%;

}


.about__img img {
    border: 5px solid #c88fe4;
    padding: 66px 10px;
    width: 130px;
    border-radius: 90px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3)!important;
}

.about__img.g2 img {
    border: 5px solid #6066ec;
}

.about__img.pc img {
    padding: 73px 17px;
}

.about__img.suspension img {
    padding: 56px 0;
}


.about__description {
    width: 100%;
    padding: 15px 70px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #454545;
/*    padding: 25px 0 20px;*/
}

/* Presale */

.presale {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.presale__icon img{
    opacity: 0.9;
    margin-top: 50px;
    height: 450px;
    transition: opacity .2s linear;
}

.presale__icon img:hover {
    opacity: 1;
}

.presale__caption {
    font-family: 'Caveat', cursive;
    margin-top: 30px;
    font-size: 50px;
    color: #efbad3;
    text-align: center;
    width: 100%
}

.presale__description {
    line-height: 1.5;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #d1d1d1;
    font-size: 20px;
}

.presale__li {
    cursor: pointer;
    transition: color .2s linear;

}

.presale__li:hover {
    color: #fff;
}

.presale__ul {
    text-align: left;
}

/* Presale */

.shop {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.shop__icon img{
    opacity: 0.9;
    margin-top: 50px;
    height: 450px;
    transition: opacity .2s linear;
}

.shop__icon img:hover {
    opacity: 1;
}

.shop__caption {
    font-family: 'Caveat', cursive;
    margin-top: 30px;
    line-height: 1.3;
    font-size: 50px;
    color: #a163f5;
    text-align: center;
    width: 100%
}

.shop__description {
    line-height: 1.5;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #404040;
    font-size: 20px;
}

/*
.presale__li {
    cursor: pointer;
    transition: color .2s linear;

}

.presale__li:hover {
    color: #fff;
}

.presale__ul {
    text-align: left;
}
*/


/* Footer */

.footer {
    margin-top: 100px;
    height: 200px;
    background: #5a5a5a;
}

/* Media */

@media (max-width:1190px) {

}


















